<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marine Conservation Tracker- Report</title>
    <link href="style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="script.js"></script>
</head>
<body>
    <!-- Navigation Bar (top) -->
    <header id="nav_bar">
        <!-- Title text -->
        <h1 id="title_txt">Marine Conservation Tracker</h1>
        <!-- Navigation/links to other pages -->
        <nav>
            <a id="nav_links" href="report.html">Report It!</a>
        </nav>
    </header>



</body>
</html>